[buildout]
parts = python django pydev
develop = .
eggs = djangobuildoutstarter
versions = versions

[versions]
django = 1.4

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[django]
recipe = djangorecipe
project = djangobuildoutstarter
projectegg = djangobuildoutstarter
settings = settings
test = djangobuildoutstarter
eggs = ${buildout:eggs}

[pydev]
recipe = pb.recipes.pydev
eggs = ${buildout:eggs}
